<div class="mx-auto w-full max-w-2xl rounded-lg overflow-hidden py-5">
  <h1 class="text-center font-bold py-5 text-3xl">Ubicación</h1>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15304.23302437229!2d-68.2018624!3d-16.4725876!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915ee0833986fc95%3A0x18c6ef89408f4fbe!2sEstadium%20Villa%20Ingenio!5e0!3m2!1ses!2sbo!4v1703819569108!5m2!1ses!2sbo"
    width="100%"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    class="rounded-lg"></iframe>
</div>
