---
import pdfFile from "../../assets/pdf/convocatoria.pdf";
---

<section>
  <div
    class="flex justify-center items-center text-2xl md:text-4xl font-bold py-8 dark:text-white text-white"
  >
    PROXIMAMENTE
  </div>
  <div class="flex grid-cols-1 gap-3 justify-center pt-8 font-bold">
    <div
      class="bg-green-500 text-white py-1.5 md:py-3 px-3 md:px-6 text-md rounded-lg cursor-pointer"
    >
      <a href="https://wa.me/qr/ZN4HWHZBK3HCI1" target="_blank" rel="noopener"
        >WhatsApp</a
      >
    </div>
  </div>
</section>
