---
import BaseHead from "../components/BaseHead.astro";
---

<html
  lang="es"
  class="scroll-smooth selection:bg-red-600 selection:text-white no-touchevents hydrated"
>
  <head>
    <BaseHead />
    <style>
      .discord {
        background-color: #1c1c1e;
        user-select: none;
      }
    </style></head
  >

  <body class="discord flex flex-col min-h-screen">
    <slot />
  </body>
</html>
